<div th:fragment="book_card" th:each="book : ${books}" >
    <div class="col">
        <div class="card">
            <a th:href="@{/detail/{id}(id=${book.id})}" ><img th:src="${book.imageSrc}" class="card-img-top img-fluid book-card-image" th:alt="${book.title}"></a>
            <div class="card-body">
                <h5 th:text="${book.title}" class="card-title">Card title</h5>
                <h6 class="card-subtitle mb-2">
                    <span th:each="author : ${book.authors}">
                        <a th:text="${author.fullName}" th:href="@{authors/{id}(id=${author.id})}"></a> &nbsp;
                    </span>
                </h6>
                <h4>$<span th:text="${book.price}" class="card-subtitle mb-2 text-muted">Card subtitle</span></h4>
                <a class="btn btn-warning" href="#" role="button">Comprar</i></a>

            </div>
        </div>
    </div>
</div>