<div th:fragment="_detail" class="card m-4 d-flex book-detail-container">
    <div class="row">
        <div class="col-5">
            <img th:src="@{'/images/'} + ${book.imageSrc}" class="card-img-top img-fluid book-card-image p-50" th:alt="${book.title}">
            <div class="text-center m-4">
                <h2>$<span th:text="${book.price}" class="card-subtitle mb-2 text-muted">Card subtitle</span></h2>
                <form name="b" th:action="@{/addToCart/{id}(id=${book.id})}" method='POST'>
                    <button th:disabled="${book.stock==0}" class="btn btn-warning bg-orange px-2 py-1" type="submit">
                        <i class="fa fa-cart-plus fa-lg" style="color:white" aria-hidden="true"></i>
                        Agregar al carrito
                        <span th:if="${book.stock==0}">No hay stock</span>
                    </button>
                </form>
            </div>
        </div>
        <div class="col-6 mt-50">
            <h1 class="text-center" th:text="${book.title}"></h1>
            <div>
                <h2>
                    <span th:each="author : ${book.authors}">
                        <a th:text="${author.fullName}" th:href="@{/authors/{id}(id=${author.id})}"></a> &nbsp;
                    </span>
                </h2>
            </div>
            <p th:text="${book.synopsis}"></p>
        </div>
    </div>
</div>