<footer th:fragment="footer" class="footer font-small bg-orange border-top border-dark border-3">    
    <div class="container">
        <div class="container-fluid  text-left footer">

            <!-- Grid row -->
            <div class="row">                                          
  
              <!-- Grid column -->
              <div class="col-md-4 mb-md-0 mb-3">                            
  
                <ul class="list-unstyled">
                  <li>
                    <a href="#!">Preuntas Frecuentes</a>
                  </li>
                  <li>
                    <a href="#!">Medios de Pago</a>
                  </li>                  
                </ul>
  
              </div>
              <!-- Grid column -->
  
              <!-- Grid column -->
              <div class="col-md-4 mb-md-0 mb-3">
              
                <ul class="list-unstyled footer-text">
                  <li>
                    <a href="#!">Devoluciones</a>
                  </li>
                  <li>
                    <a href="#!">Costos y Tiempos de Envio</a>
                  </li>                  
                </ul>
  
              </div>
              <div class="col-md-2 mb-md-0 mb-3">
              </div>
              <div class="col-md-1 mb-md-0 mb-3">
              
                <ul class="list-unstyled footer-text">
                  <li>
                    <a href="#!">Contacto</a>
                  </li>                       
                </ul>
  
              </div>
  
            </div>
            <!-- Grid row -->
  
          </div>
    </div>      
</footer>