:root {
    --main-orange: #FF8E3C;
    --main-bg-grey: #D9D9D9;
}


.bg-orange {
    background-color: var(--main-orange);
}

.bg-grey {
    background-color: var(--main-bg-grey);
}

@font-face {
    font-family: parisienne;
    src: url("./fonts/Parisienne-Regular.ttf");
}

.logo {
    font-family: Parisienne;
    font-size: 45px;
    color: white;
}

.navbar-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 25px;
    line-height: 38px;
    color: #FFFFFF;
}

.filtersbar-text {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 38px;
    color: black;
}

.footer a {
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    color: #FFFFFF;
    text-decoration: solid;
}

.border-3 {
    border-width: 3px !important;
}

.pb-6 {
    padding-bottom: 70px;
}

.mt-50 {
    margin-top: 50px;
}

.p-50 {
    padding: 50px;
}

.book-card-image {
    height: 500px;
    object-fit: contain;
    padding-bottom: 0px;
}

.book-detail-container {
    border: none;
    border-radius: 20px;
    background-color: var(--main-bg-grey);
}

.btn-comprar {
    background-color: var(--main-orange);
    color: white;
    margin: auto;
    font-size: larger;
    border: none;
}
.btn-comprar:hover {
    background-color: rgba(255, 142, 60, 0.79);
}

.common-button {
    background-color: var(--main-orange);
    color: white;
    margin: auto;
    font-size: 16px;
}

.common-button:hover {
    background-color: rgba(255, 142, 60, 0.79);
}

.cart-img {
    width: 15%;
    height: 15%;
    object-fit: contain;
}
