<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="components/headers :: headerfiles">
    </th:block>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>
<div class = "d-flex mx-5 mt-5 p-2">
  <table class="table">
      <thead>
        <tr>
          <th scope="col">Descripcion</th>
          <th scope="col" class = "text-center">Precio</th>
          <th scope="col" class = "text-center">Cantidad</th>
          <th scope="col" class = "text-center">Eliminar</th>
        </tr>
      </thead>

      <tbody>
        <tr th:each = "cartDetail : ${cart.details}" class = "border ">
          <td class = "w-50">
            <img th:src="@{'/images/'} + ${cartDetail.book.imageSrc}" class="cart-img" th:alt="${cartDetail.book.title}">          
            <span th:text = "${cartDetail.book.title}"></span>            
          </td>
          <td th:text = "${cartDetail.price}" class="align-middle text-center"></td>
          <td class="align-middle text-center">            
            <button class="btn"><i class="fa fa-minus-circle fa-2x" style="color:#FF8E3C" aria-hidden="true"></i></button>
            <span th:text = "${cartDetail.quantity}" class="border border-dark p-2 bg-grey align-middle"></span>
            <button class="btn"><i class="fa fa-plus-circle fa-2x" style="color:#FF8E3C" aria-hidden="true"></i></button>
          </td>
          <td class="align-middle text-center">
            <button class="btn" href = "#"><i class="fa fa-times-circle fa-2x" style="color:#FF8E3C" aria-hidden="true"></i></button>
          </td>
        </tr>       
      </tbody>
    </table>        
  </div>  
  <div class="container">
    <div class="row">
      <div class="col-8">        
      </div>
      <div class="col-2">
        Envio:
      </div>
      <div class="col-2">
        $550
      </div>    
    </div>
    <div class="row">
      <div class="col-8">        
      </div>
      <div class="col-2">
        Total con envio:
      </div>
      <div class="col-2">
        <span th:text = "|$${total}|"></span>
      </div>    
    </div>    
    <div class="row">
      <div class="col-10">        
      </div>
      <div class="col-1">
        <button class="btn btn-lg rounded-pill bg-orange my-3 py-0 px-4 navbar-text">PAGAR</button>
      </div>      
    </div>    
  </div>  
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3"
        crossorigin="anonymous"></script>
</body>

<foot th:replace="components/footer :: footer"></foot>
</html>