<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="components/headers :: headerfiles">
    </th:block>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>
<div th:replace="components/filtersBar :: filters_bar"></div>
<div th:if="${books.size}">
    <div th:replace="components/book-card :: book_card"></div>
</div>
<div th:unless="${books.getTotalElements()}">
    <h2>No hay resultados</h2>
</div>
</body>
</html>