<!DOCTYPE html>
<html lang="es" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="components/headers :: headerfiles">
    </th:block>
</head>
<body>
<nav th:replace="components/navbar :: nav_bar"></nav>
<div th:if="${books.size}">
    <div class="row row-cols-1 row-cols-sm-1 row-cols-md-3 row-cols-lg-5 row-cols-xl-6 row  g-4 m-4">
        <div th:replace="components/book-card :: book_card"></div>
    </div>
</div>
<div th:unless="${books.getTotalElements()}">
    <h2>No hay resultados</h2>
</div>
</body>
</html>